

@import url("../global/css/variables.css");

/*Gral styles*/
body {
    font-family: var(--font-body);
    font-size: var(--fontNormalSize);
    overflow-x: hidden;
}

h1 {
    font-family: var(--font-h1);
    font-size: var(--fontNormalSize);
    font-weight: var(--font-semi-bold);
    color: var(--colorMainButton);
}

h2 {
    font-family: var(--font-h2);
    font-size: var(--fontNormalSize);
    font-weight: var(--font-semi-bold);
    color: var(--colorMainSubtitle);
}

/* left card*/

.profile-card {
    border-radius: 30px !important;
}

.card-header {
    --bs-bg-opacity: 0 !important;
}

.profile-icons:hover {
    color: var(--colorNavHover) !important;
}

.icons-size {
    font-size: var(--fontNormalSize);
}


/*.follow-button {
    color: white !important;
    background-color: var(--colorMainButton) !important;
    font-family: var(--font-h2);
}

.follow-button:hover {
    background-color: var(--colorNavHover) !important;
}*/

/* rigth card*/
/*.bookButton {
    color: white !important;
    background-color: var(--colorMainButton) !important;
    font-family: var(--font-h2);
}

.bookButton:hover {
    background-color: var(--colorNavHover) !important;
    border-style: none !important;
}*/



/*offCanvas Style*/

.offcanvas{
    height: 600px;
    font-family: var(--font-h1);
    font-size: var(--fontBigSize);
    overflow-x: hidden;
    
}


.offcanvas .btn {
    color: white !important;
    background-color: var(--colorMainButton) !important;
    font-family: var(--font-h2);
    border-style: none !important;
}

.offcanvas .btn:hover{
    background-color: var(--colorNavHover) !important;
    border-style: none !important;
    border-style: none !important;
}

/*progress bar*/
.progress-bar{
    background-color: var(--colorNavHover) !important;
}

.progress i{
    font-size: var(--fontH3Size);
    transform: rotate(220deg);
}
