@import url("../global/css/variables.css");

h1 {
  font-family: var(--font-h1);
  font-size: var(--fontH1Size);
  font-weight: var(--font-bold);
  color: var(--colorMainButton);
}
h2 {
  font-family: var(--font-h2);
  font-size: var(--fontH2Size);
  font-weight: var(--font-semi-bold);
  color: var(--colorMainSubtitle);
}
p .taco {
  font-family: var(--font-body);
  color: azure;
}
label {
  font-family: var(--font-body);
  color: var(--colorMainSubtitle);
}
.form-check label {
  font-size: smaller;
}

.form-section {
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #333568;
}
/* .form-container {
  width: 90%;
  min-width: 300px;
  height: 105vh;
  background-color: beige;
  z-index: 2;
  display: flex;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  padding: 50px;
  margin: 30px;
  border-radius: 30px;
} */

.text-form {
  padding-top: 80px;
  text-align: center;
  justify-content: center;
}
/* 
form {
  width: 100%;
  padding: 20px;
} */
.form-input {
  background-color: var(--colorSecondaryBg) !important;
  border-style: none;
  line-height: 30px;
  outline: none;
  font-family: var(--font-body);
}

/* .buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white !important;
  background-color: var(--colorMainButton) !important;
  font-family: var(--font-h2);
  border-style: none !important;
} */

.form-img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
}